@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');


:root {
  --background: #1E1F21;
  --bg-center: #38393B;

  /* for any musicicons */
  --icons-primary: #1ED660;
  --icons-secondary: #4E4444;

  /* font colors */
  --font-primary: #FFFFFF;
  --font-secondary: #8AAC96;
}

@theme inline {
  --color-bg-center: var(--bg-center);
  --color-background: var(--background);
  --color-icons-primary: var(--icons-primary);
  --color-icons-secondary: var(--icons-secondary);  
  --color-font-primary: var(--font-primary);
  --color-font-secondary: var(--font-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {

    /* I'll do dark mode theme if I have time ;( */
    --background: #0a0a0a;

    
  }
}

body {
  background: var(--background);
  color: var(--font-primary);
  font-family: "Abhaya Libre", serif;
}
